body {
  display: flex;
  justify-content: center;
  background-image: url('../../assets/landscape.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: 100% 90%;
  width: auto;
 
}
