
body {
    display: flex;
    justify-content: center;
    background-image: url("../../assets/landscape.png");
    background-repeat: no-repeat;
    background-size: 1200px 1000px;
    width: auto;
}

h1, h3 {
    color: white;
}

hr {
    background-color: white;
    height: 2px;
    width: 250px;
}

#panel {
    background-color: #45A1E5;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}