h1,
h3 {
  color: white;
}

hr {
  background-color: white;
  height: 2px;
  width: 250px;
}

#panel {
  background-color: #45a1e5;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: 10%;
}

section {
  display: flex;
  justify-content: center;
}
