#box {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display_block {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;

  background: #ffffff;
  border: 1px solid #a1a1a1;
  box-sizing: border-box;
  border-radius: 15px;
}

.display_text {
  position: absolute;
  width: 50%;
  height: 128px;
  left: 505px;
  /* top: 177px; */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  letter-spacing: -1.5px;
  letter-spacing: -1.5px;

  color: #000000;

  /* font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 33px;
display: flex;
align-items: center;
letter-spacing: -1.5px;

color: #000000; */
}

.display_block_date {
  float: right;
  margin: 10px;
}

.images {
  width: 30%;
}

.profilePicture {
  border-radius: 50%;
  margin-right: 3%;
  margin-left: 5%;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header > b {
  margin-left: 2%;
}
