.Navbar {
  height: 75px;
  background-color: #45a1e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Navbar__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Navbar__logo {
  margin-left: 5%;
  margin-top: 2%;
}

.Navbar__logo > img {
  width: 110px;
  height: 60px;
}

.Navbar__search {
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  width: 100px;
}

.Navbar__search-icon {
  background: #ffffff;
  width: 20px;
  border-radius: 25px 0 0 25px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 7px;
  color: #a1a1a1;
}

.Navbar__search-icon-close {
  border-radius: 0 25px 25px 0;
  padding-left: 5px;
  padding-right: 9px;
}

.Navbar__search-icon-close svg {
  cursor: pointer;
}

.Navbar__search-icon-close svg:hover {
  color: #878787;
}

.Navbar__search > input {
  width: 300px;
  height: 35px;
  background: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 23px;
  line-height: 38px;
  letter-spacing: -1.5px;
  color: #a2a2a2;
  outline: none;
  padding: 2px;
}

.Navbar__search > input::placeholder {
  color: #a1a1a1;
}

.Navbar__link-settings {
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  color: #fffdfd;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 10%;
  padding: 0px 10px;
  border-bottom: 2px solid transparent;
}

.Navbar__link-settings:hover {
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.Navbar__link-settings-selected {
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.Navbar__link-logout,
.Navbar__link-logout:focus,
.Navbar__link-logout:focus-within,
.Navbar__link-logout:active,
.Navbar__link-logout:visited {
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 2px 15px;
  border-bottom: 2px solid transparent;
  margin-right: 25px;
  margin-bottom: 4px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 15px;
}


.custom{

}

